<div class="layout">
  <aside class="sidebar">
    <h3>Restaurante</h3>

    <a *ngIf="role==='ADMIN'" routerLink="/admin">Panel Admin</a>
    <a *ngIf="role==='ADMIN'" routerLink="/admin/usuarios">Gestionar Usuarios</a>

    <a *ngIf="role==='MOZO'" routerLink="/mozo/mesas">Tomar Pedido</a>
    <a *ngIf="role==='COCINA'" routerLink="/cocina/pedidos">Pedidos Cocina</a>
    <a *ngIf="role==='CAJERO'" routerLink="/cajero">Caja</a>
    <a *ngIf="role==='ADMIN'" routerLink="/admin/menu">Gestionar Platos</a>
    <a *ngIf="role==='ADMIN'" routerLink="/admin/mesas">Gestionar Mesas</a>

    <a routerLink="/">Pedidos</a>
  </aside>

  <div class="main">
    <header class="topbar">
      <div>
        Bienvenido {{ email }}
        <span class="role-badge">{{ role }}</span>
      </div>
      <button (click)="logout()">Cerrar sesión</button>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>


